name: Run Gitleaks secrets scan
on:
  pull_request:
  push:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" 
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: List files in current directory
        run: ls -al && echo ${pwd}  
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_CONFIG: gitleaks.toml